body {
  background-color: #FFFFFF;
  display: flex;
}

.navbar {
  position: fixed;
  top: 10px;
  width: 100%;
  background-color: #5271ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height:80px;
  z-index: 1000;
}

.container 
{background-color: #5271ff;}

.navbar-text {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins'; 
}

h1 {
  color: #ffffff;
  text-align: center;
  flex-direction: column;
  z-index: 1100;
}
